*{
    margin: 0;
    padding: 0;
}
.signup-hd{
    text-align: center;
    background-color: red;
}
.login-hd{
    text-align: center;
    background-color: red;
}
.switcto-login{
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 5px;
}